body {
  background-color: #000;      /* black background */
  color: #fff;                 /* white text */
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

input[type="file"] {
  background-color: #222;
  color: #fff;
  border: 1px solid #555;
  padding: 8px;
  border-radius: 5px;
  margin-top: 20px;
}

p, h1, h2, h3 {
  color: #fff;
}

canvas {
  background-color: #fff;  /* white box for graph */
  border: 1px solid #444;
}

header {
  background-color: #004aad;
  color: #fff;
  text-align: center;
  padding: 1em;
}

#program-output {
  padding: 20px;
}

.race-block {
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 20px;
}

.graph-container {
  width: 100%;
  height: 100px;
}
