body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #222;
  margin: 0;
  padding: 0;
}

header {
  background-color: #004aad;
  color: #fff;
  text-align: center;
  padding: 1em;
}

#program-output {
  padding: 20px;
}

.race-block {
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 20px;
}

.graph-container {
  width: 100%;
  height: 100px;
}
